@{
    ViewBag.Title = "Dependent Bundles Testing";
}

<h1>Dependent Bundles Tests</h1>
<ul>
    <li>@Html.ActionLink("DisplayFor","DisplayFor", "Test")</li>
    <li>@Html.ActionLink("EditorFor","EditorFor", "Test")</li>
    <li>@Html.ActionLink("Partial","Partial", "Test")</li>
    <li>@Html.ActionLink("View","InView", "Test")</li>
</ul>